<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <title>Predict.io</title>
</head>

<body>
    <div id="loader">
        <h1>"Hello guys,</h1>
        <h1>Namste,</h1>
        <h1>welocome to my portfolio."</h1>
    </div>
    <div id="main" data-scroll-container>
        <div id="page1">
            <div id="mouse">
            </div>
            <img src="static/images/home.jpg" data-scroll data-scroll-speed="3">
            <div id="page1_content">
                <nav>
                    <h2 style="font-family: Fontdiner Swanky;">Predict.io</h2>
                    <div id="nav2">
                        <div class="nam-elem">
                            <h4>Home</h4>
                            <h5><span>.Home</span></h5>
                        </div>
                        
                        <div class="nav-elem">
                            <h4>Services</h4>
                            <h5><a href="/crop"><span>.Crop Yeild pred.</span></a></h5>
                            <h5><a href="/disease"><span> .AI DOC. </span></a></h5>
                            <h5><a href="/movie2"><span> .Movie Recomendation</span></a></h5>
                        </div>
                        <div class="nav-elem">
                            <h4>About</h4>
                            <h5><span>.About
                                    website</span></h5>
                            <h5><span>.About me</span>
                            </h5>

                        </div>
                        <div class="nav-elem">
                            <h4>Contact</h4>
                            <h5><span>.Email</span>
                            </h5>
                            <h5><span>.Contact</span>
                            </h5>
                            <h5><span>.Resume</span>
                            </h5>
                        </div>
                    </div>
                    <button>
                        <h3>let's TALK</h3> <svg viewBox="0 0 20 20" fill="none">
                            <path data-morph="start"
                                d="M2 14.8767V18.0017H5.125L14.342 8.7847L11.217 5.6597L2 14.8767ZM16.758 6.3687C16.8353 6.29161 16.8965 6.20003 16.9384 6.09922C16.9802 5.99841 17.0017 5.89034 17.0017 5.7812C17.0017 5.67206 16.9802 5.56399 16.9384 5.46318C16.8965 5.36237 16.8353 5.2708 16.758 5.1937L14.808 3.2437C14.7309 3.16645 14.6393 3.10516 14.5385 3.06334C14.4377 3.02152 14.3296 3 14.2205 3C14.1114 3 14.0033 3.02152 13.9025 3.06334C13.8017 3.10516 13.7101 3.16645 13.633 3.2437L12.108 4.7687L15.233 7.8937L16.758 6.3687Z"
                                fill="currentcolor"
                                data-original="M2 14.8767V18.0017H5.125L14.342 8.7847L11.217 5.6597L2 14.8767ZM16.758 6.3687C16.8353 6.29161 16.8965 6.20003 16.9384 6.09922C16.9802 5.99841 17.0017 5.89034 17.0017 5.7812C17.0017 5.67206 16.9802 5.56399 16.9384 5.46318C16.8965 5.36237 16.8353 5.2708 16.758 5.1937L14.808 3.2437C14.7309 3.16645 14.6393 3.10516 14.5385 3.06334C14.4377 3.02152 14.3296 3 14.2205 3C14.1114 3 14.0033 3.02152 13.9025 3.06334C13.8017 3.10516 13.7101 3.16645 13.633 3.2437L12.108 4.7687L15.233 7.8937L16.758 6.3687Z">
                            </path>
                            <path data-morph="end" fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.6254 5.56286H2.90643V3H17V17.0946H14.4371V7.37464L3.81179 18L2 16.1893L12.6254 5.56286Z"
                                fill="currentcolor"></path>
                        </svg>
                    </button>
                    <div id="nav-bottom">

                    </div>
                </nav>
                <div class="logo_container">
                    <h1 class="logo"
                        style="color: rgb(0, 255, 170); font-family: 'Uncial Antiqua' ; text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.383);">
                        <span>P</span><span>R</span><span>E</span><span>D</span><span>I</span><span>C</span><span>T</span><span>.</span><span>i</span><span>o</span><span>.</span>
                    </h1>
                </div>

            </div>

        </div>
        <div id="page2" data-scroll class="page2">
            <div id="page2-top">
                <div class="infinitebox">
                    <div class="title item1">
                        <h2>
                            About ME
                        </h2>
                    </div>
                    <div class="title item2">
                        <h2>
                            About ME
                        </h2>
                    </div>
                    <div class="title item3">
                        <h2>
                            About ME
                        </h2>
                    </div>
                    <div class="title item4">
                        <h2>
                            About ME
                        </h2>
                    </div>
                    <div class="title item5">
                        <h2>
                            About ME
                        </h2>
                    </div>
                    <div class="title item6">
                        <h2>
                            About ME
                        </h2>
                    </div>
                </div>
                <div class="content">
                    <div id="image" data-scroll data-scroll-speed="1" data-scroll-direction="horizontal"><img
                            src="static/images/harsh2.jpg"></div>
                    <div class="text">
                        <h3 id="text1">
                            Its <span style="color: rgb(18, 18, 18);">Harsh,</span> im a passionate <span
                                style="color: rgb(18, 18, 18);">Video Editor,</span> <span
                                style="color: rgb(18, 18, 18);">Data Analyist,</span>
                            <span style="color: rgb(18, 18, 18);">AI/ML enthusiast</span>
                        </h3>
                        <h3 id="text2">im persuing B.Tech Mechanical with AIML from SRMIST Kattankulathur im more into
                            AI/ML
                            stuff rather than Web Dev i have pretty decent knowledge of ML and DeepLearning and im open
                            to work
                            with people having the same interest. I used some of my skills in web dev to create my
                            website.
                        </h3>
                    </div>


                </div>
            </div>

        </div>
        <div id="page3">
            <div id="page3-top">
                <h2>Skills </h2>
            </div>
            <div class="skillbox">
                <div class="skills " data-tilt data-tilt-glare id="i1">
                    <h3>Java</h3>
                    <img src="static/images\java.png" alt="">

                </div>
                <div class="skills" data-tilt data-tilt-glare id="i2">
                    <h3>Python</h3>
                    <img src="static/images\python.png" alt="">

                </div>
                <div class="skills" data-tilt data-tilt-glare="black" id="i3">
                    <h3>MySQL</h3>
                    <img src="static/images\pngwing.com.png" alt="">

                </div>
                <div class="skills" data-tilt data-tilt-glare id="i4">
                    <h3>Tensor</h3>
                    <img src="static/images/tensorflow.png" alt="">

                </div>
                <div class="skills" data-tilt data-tilt-glare id="i5">
                    <h3>Scikit-Learn</h3>
                    <img src="static/images\pngwing.com(1).png" alt="">

                </div>
                <div class="skills" data-tilt data-tilt-glare id="i6">
                    <h3>NLP</h3>
                    <img src="static/images/NLP.png" alt="">
                </div>
                <div class="skills" data-tilt data-tilt-glare id="i7">
                    <h3>Power-bi</h3>
                    <img src="static/images\icons8-power-bi-logo-48.png" alt="">

                </div>
                <div class="skills" data-tilt data-tilt-glare id="i8">
                    <h3>Seaborn</h3>
                    <img src="static/images\seaborn-seeklogo.png" alt="">

                </div>
                <div class="skills" data-tilt data-tilt-glare id="i9">
                    <h3>Matplot</h3>
                    <img src="static/images\Matplotlib.png" alt="">

                </div>
                <div class="skills" data-tilt data-tilt-glare id="i10">
                    <h3>Android Studio</h3>
                    <img src="static/images/android-studio-icon.png" alt="">
                </div>
                <div class="skills" data-tilt data-tilt-glare id="i11">
                    <h3>HTML</h3>
                    <img src="static/images\html.png" alt="">
                </div>
                <div class="skills" data-tilt data-tilt-glare id="i12">
                    <h3>CSS</h3>
                    <img src="static/images\css-3.png" alt="">

                </div>
                <div class="skills" data-tilt data-tilt-glare id="i13">
                    <h3>JS</h3>
                    <img src="static/images\js.png" alt="">
                </div>
                <div class="skills" data-tilt data-tilt-glare id="i14">
                    <h3>Flask</h3>
                    <img src="static/images\Flask.png" alt="">
                </div>
                <div class="skills" data-tilt data-tilt-glare id="i15">
                    <h3>Computer vision</h3>
                    <img src="static/images\visual.png" alt="">
                </div>
            </div>
        </div>
        <div id="page4">
            <div id="page4-top">
                <h1>Projects on github</h1>

            </div>
            <div class="content4">
                <p>these projets were made using computer vision
                    and im unable to deploy them so you can check these projects
                    directly from my github 🤷‍♂️
                </p>
            </div>
            <div id="elements">
                <div class="box" data-scroll data-scroll-speed="3">
                    <img src="static/images/27230.jpg" alt="">
                    <video autoplay loop muted src="static/videos/67460-522170651_small.mp4"></video>
                    <div class="center-text">PPE KIT DETECTION</div>
                    <button><a href="https://github.com/Harshvardhan0904/PPE_PROJECT">Check it out</a></button>
                </div>
                <div class="box" data-scroll data-scroll-speed="-.5">
                    <img src="static/images/27230.jpg" alt="">
                    <video autoplay loop muted src="static/videos/6398-191712356_small.mp4"></video>
                    <div class="center-text">STAIRCASE HANDRAILING</div>
                    <button><a href="https://github.com/Harshvardhan0904/Staircase-Handrailing">Check it
                            out</a></button>
                </div>
                <div class="box" data-scroll data-scroll-speed="3">
                    <img src="static/images/27230.jpg" alt="">
                    <video autoplay loop muted src="static/videos/2165-155327596_small.mp4"></video>
                    <div class="center-text">ANPR</div>
                    <button>check it out</button>
                </div>

            </div>
        </div>
        <div id="page5">
            <div id="page5-top">
                <h1>Projects on this website</h1>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/crop"><img src="static/images/beautiful-natural-landscape.jpg" alt=""></a>
                        <div class="ptext">Crop Yeild Prediction</div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <a href="/disease"><img src="static/images/doctor-from-future-concept.jpg" alt=""></a>
                            <div class="ptext">AI Doc</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                           <a href="/movie2"> <img src="static/images/popcorn-cinema-stuff-composition.jpg" alt=""></a>
                            <div class="ptext">Movie Recomendation</div>
                        </div>
                    </div>

                </div>

                <div class="swiper-pagination"></div>
            </div>
            <div class="page5_content" data-tilt data-tilt-max="2">
                <h2>These are some instresting pojects you can find on this website.
                    I created these ML pojects using Scikit-Learn and flask.. i used flask for deploying
                    them on this website . In future i will push more projects here 😛
                </h2>
            </div>
            <canvas id="dots"></canvas>
        </div>
        <div id="page6">
            <div class="page6-top">
                <h1>About and Contacts</h1>
            </div>
            <div class="container">
                <div class="left">
                    <div>
                        <h3>
                            This website was created to showcase my AIML projects but I combined it with my portfolio.
                            So in this page its about me and my projects and under services tab you can see different
                            projects that I created. Below you can download my Resume and contact me (Message).
                        </h3>
                        <div class="resumecard" data-tilt data-tilt-reverse="true" data-tilt-max="5">
                            <h3 class="title">There is my Resume and Contact</h3>
                            <div class="res_content">Here is my Resume and contact. You can download my Resume by
                                clicking the button below.</div>
                            <div class="buttons">
                                <button><a href="https://drive.google.com/file/d/1uvNKtJi7Gzyp_sFhA-5kNrsuXrNHmHKX/view?usp=sharing" style="color: white; text-decoration: none;">Resume</a></button>
                                <button>Contact</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="contact_container">
                        <form action="https://api.web3forms.com/submit" method="POST" class="contact">
                            <div class="contact_title">
                                <h2>Get in Touch</h2>
                            </div>
                            <input type="hidden" name="access_key" value="efe510a1-52ca-457f-85f0-0e95927ef749">
                            <input type="text" id="username" placeholder="Your Name" required>
                            <input type="email" id="user_email" placeholder="Your Email" required>
                            <textarea name="message" placeholder="Message"></textarea>
                            <button>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="list">
                    <div data-tilt class="img" style="--position: 1"><a href=""><img src="static/images/twitter.png"
                                alt="Twitter"></a></div>
                    <div data-tilt class="img" style="--position: 2"><a href="https://github.com/Harshvardhan0904"><img
                                src="static/images/github.png" alt="GitHub"></a></div>
                    <div data-tilt class="img" style="--position: 3"><a
                            href="https://www.linkedin.com/in/harsh-vardhan-tiwari-05153b302/"><img
                                src="static/images/linkedin.png" alt="LinkedIn"></a></div>
                    <div data-tilt class="img" style="--position: 4"><a
                            href="https://leetcode.com/u/harshvardhant88/"><img src="static/images/LeetCode_logo_black.png"
                                alt="LeetCode"></a></div>
                </div>
            </div>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/lemis.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="static/script.js"></script>
    <script src="static/tilt.js"></script>
</body>

</html>
